.game {
  width: 600px;
  height: 200px;
  border: 3px solid black;
  margin: auto;
}
body {
  background-image: url("nee.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}








#dino {
  width: 50px;
  height: 50px;
  background-image: url(afbeelding/dino.jpg);
  background-size: 50px 50px; 
  position: relative;
  top: 150px;
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }

  30% {
    top: 130px;
  }

  50% {
    top: 80px;
  }

  80% {
    top: 130px;
  }

  100% {
    top: 150px;
  }
}

#plant {
  width: 20px;
  height: 40px;
  position: relative;
  top: 110px;
  left: 580px;

  background-image: url("afbeelding/plant.jpg");
  background-size: 20px 40px;

  animation: block 1s infinite linear;
}


@keyframes block {
  0% {
    left: 580px;
  }

  100% {
    left: -20px;
  }
}

#gameOver {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: red;
  display: none;
  font-weight: bolder;
  
}
